/* not sure if this works */
.mc {
    margin-top: 300px;
    margin-left: 300px;
}

.example-spacer {
    /* flex: 1 1 auto; */
    /* padding: 10px; */
    margin: 3vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cal-events {
    display: none !important;
}

@import '~@ctrl/ngx-emoji-mart/picker';