<mat-toolbar color="accent">

  <button type="button" (click)="sideNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item><h6 [routerLink]="['moodBoard/home']">Home</h6></button>
    <button mat-menu-item><h6 [routerLink]="['/about']">About</h6></button>
    <button mat-menu-item *ngIf="isLoggedIn()"><h6 [routerLink]="['moodBoard/search']">Inspiration</h6></button>
    <button mat-menu-item *ngIf="isLoggedIn()"><h6 [routerLink]="['moodBoard/mood']">Planner</h6></button>
  </mat-menu>
  <span>Welcome to MoodBoard!</span>
  <span class="example-spacer"></span>
  <!-- <span>{{ randomName }}</span> -->
  <!-- <mat-form-field>
    <input type="text" matInput placeholder="Search">
    <mat-icon >search</mat-icon>
  </mat-form-field> -->
  <img src="../assets/hello.gif" height="80px" width="100px" data-mode="video" />

  
  <span class="example-spacer"></span>

  <div *ngIf="!isLoggedIn()">
    <button mat-button class ><h6 [routerLink]="['/register']">Register</h6></button>
    <span class="example-spacer"></span>
    <button mat-button class ><h6 [routerLink]="['/login']">Login</h6></button>
  </div>
  
  <div *ngIf="isLoggedIn()">
    <button mat-button (click)="logout()" ><h6>Logout</h6></button>
  </div>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="full-height">
  <p>{{ title }}</p>
  <router-outlet></router-outlet>
</div>