/* not sure if this works */

.example-spacer {
    flex: 1 1 auto;
}
a {
    color: rgb(71, 89, 104);

}

a:hover {
    color: plum;
}

/* .full-height {
    background-color: pink;
    margin: 0%;
    padding: 0%;
} */

