<mat-toolbar color="accent">

  <button type="button" (click)="sideNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- <a href="home">Home</a> -->
    <button mat-menu-item><a [routerLink]="['/']">Home</a></button>
    <button mat-menu-item><a [routerLink]="['/about']">About</a></button>
    <button mat-menu-item><a [routerLink]="['/search']">Search</a></button>
    <button mat-menu-item><a [routerLink]="['/plan']">Planner</a></button>
    <button mat-menu-item><a [routerLink]="['/login']">Login</a></button>
    <!-- <div *ngIf=""> -->
      <button mat-menu-item><a [routerLink]="['/register']">Register</a></button>
    <!-- </div> -->
  </mat-menu>

  <span>Hello, Welcome to JioMeLah!</span>
  <span class="example-spacer"></span>
  <span>{{ randomName }}</span>
  <span class="example-spacer"></span>
  <mat-form-field>
    <input type="text" matInput placeholder="Search">
    <mat-icon >search</mat-icon>
  </mat-form-field>


  <span class="example-spacer"></span>
  <!-- <a [routerLink]="['/register']">Login/Sign Up</a> -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="full-height">
  <p>{{ title }}</p>
  <router-outlet></router-outlet>
</div>