<form [formGroup]="form" (ngSubmit)="processForm()">
  <table>
    <tr>
      <td>Email:</td>
      <td>
        <input type="text" size="30" formControlName="email" placeholder="Enter your email">
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="email" size="30" formControlName="password" placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'">
          <mat-icon (click)="passwordEye()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </td>
    </tr>
    <!-- <tr>
          <td>Confirm Password:</td>
          <td>
              <input type="email" size="30" formControlName="passwordCfm" placeholder="Enter your confirm password" 
              [type]="hide ? 'password' : 'text'">
              <mat-icon (click)="passwordEye2()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </td>
      </tr> -->
    <tr>
      <td>
        <input type="checkbox" name="terms" value="terms" formControlName="terms"> I have read the terms and conditions.
      </td>
      <td>
    </tr>
    <tr>
      <td>
        <div style="display: flex; justify-content: end;">
          <button type="submit" class="btn btn-primary btn-lg mt-3 ml-5" [disabled]="form.invalid">
            Register Me
          </button>
        </div>
      </td>
    </tr>
  </table>
</form>