#gif1 {
    /* margin: 150px 50px 50px 150px; */
    padding-top: 8%;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    height: 500px;
    width: 850px;
    background:url(src/assets/sakura.gif);
    background-size: 850px, 500px;
    text-align: center;
    font-size: 170px;
    font-family: 'Raleway', sans-serif;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
}