#gif1 {
    /* margin: 150px 50px 50px 150px; */
    padding-top: 10px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    /* height: 500px;
    width: 850px; */
    background:url(src/assets/sakura.gif);
    background-size: 850px, 500px;
    text-align: center;
    font-size: 170px;
    font-family: 'Raleway', sans-serif;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
}

.box-it {
    /* margin: 50px 100px; */
    border: none;
    width: 500px;
    padding: 30px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(219, 65, 186);
    background: linear-gradient(90deg, rgb(227, 164, 243) 0%, rgb(243, 151, 215) 100%);
}
