<div class="container" id="gif1">
  <div class="text">Plan Me</div>
</div>

<div class="box-it">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" *ngIf="!isLoggedIn" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
      <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                  required>          
                  <!-- <div *ngIf="password.errors['required']">Password is required</div> -->

              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <!-- <span *ngIf="!isLoggedIn">Please wait..</span> -->
      <span class="successMessage" *ngIf="isLoginFailed && f.submitted"> Welcome {{ username }} ! Please wait..</span>
      <span class="errorMessage" *ngIf="isLoggedIn">{{ errorMessage }} <br> Please try again :(</span>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>