<div class="box-it">
  <button mat-raised-button (click)="isLinear = true" id="toggle-linear"></button>

  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="form1">
      <!-- <form [formGroup]="form1" (ngSubmit)="form1Submit()" #formone="ngForm"> -->
      <form [formGroup]="form1" #formone="ngForm">
        <ng-template matStepLabel>Fill out your username</ng-template>
        <mat-form-field>
          <input matInput placeholder="Eg; fred" formControlName="username" required>
        </mat-form-field>
        <div>
          <button type="button" (click)="form1Submit()" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="form2">
      <form [formGroup]="form2" #formtwo="ngForm">
        <ng-template matStepLabel>Fill out your password</ng-template>
        <mat-form-field>
          <mat-icon (click)="passwordEye()" matSuffix> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <input matInput placeholder="Password must be unique" formControlName="password"
            [type]="hide ? 'password' : 'text'" required>
        </mat-form-field>
        <div>
          <button type="button" mat-button matStepperPrevious>Back</button>
          <button type="button" (click)="form2Submit()" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <span *ngIf="!isSubmitted">You have completed the form. To proceed, click Submit.</span>
      <span class="successMessage" *ngIf="isSubmitted && isSuccessful ">Account has been Registered!</span>
      <span class="errorMessage" *ngIf="isSignUpFailed">{{ errorMessage }} <br> Please click reset and try again :(</span>
      <div>
        <br>
        <button mat-button color="primary" type="button" (click)="stepper.reset();reset()">Reset</button>
        <button mat-button type="submit" (click)="submit()">Submit</button>
        <!--
        <button mat-button type="submit" (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit()">
          Submit
        </button>
      -->
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>