<div class="box-it">
	<mdb-carousel [interval]="4000" [animation]="'fade'">
		<mdb-carousel-item>
			<h2>Step 1: Login or Register if you have not</h2>
			<br>
			<img src="../assets/s1.jpg" class="img" alt="..." />
		</mdb-carousel-item>
		<mdb-carousel-item>
			<h2>Step 2: Without login, you will not be able to access other features </h2>
			<br>
			<img src="../assets/s2.jpg" class="img" alt="..." />
		</mdb-carousel-item>
		<mdb-carousel-item>
			<h1>Step 3: With Login</h1>
			<br>
			<img src="../assets/s3.jpg" class="img" alt="..." />
		</mdb-carousel-item>
	</mdb-carousel>

	<br><br>

</div>