/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: pink;
    background:url(src/assets/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

@import '~@ctrl/ngx-emoji-mart/picker';

/* .text {
    height: 500px;
    width: 850px;
    
    background-size: 850px, 500px;
    text-align: center;
    font-size: 170px;
    font-family: 'Raleway', sans-serif;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
} */
