<div class="box-it">
	<form [formGroup]="form" (ngSubmit)="performSearch()">

		<div class="row">
			<div class="column">
				<table>
					<tr>
						<th></th>
						<th>
							<h2>Search Me</h2>
						</th>
					</tr>
					<tr>
						<td>Type:</td>
						<td>
							<select formControlName="type" aria-placeholder="Enter">
								<option value="g">Gray</option>
								<option value="p">Pixel</option>
								<option value="red">Red</option>
								<option value="green">Green</option>
								<option value="blue">Blue</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Width:</td>
						<td>
							<input type="number" size="20" formControlName="width">
						</td>
					</tr>
					<tr>
						<td>Height:</td>
						<td>
							<input type="number" size="20" formControlName="height">
						</td>
					</tr>
					<tr>
						<td>Looking for:</td>
						<td>
							<input type="text" size="20" formControlName="search">
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button class="example-spacer" type="button" (click)="reset()">
								Reset
							</button>
							<span class="example-spacer"></span>
							<button class="example-spacer" type="submit" [disabled]="form.invalid">
								Search
							</button>
						</td>
					</tr>
				</table>

				<div class="box-image">
					<!--*ngIf="criteria.width">> -->
					<img [src]="_url">
				</div>

			</div>

			<div class="column">
				<table>
					<tr>
						<th></th>
						<th>
							<h2>Make me happy</h2>
						</th>
					</tr>
					<tr>
						<td></td>
						<td><em>Need a motivation? I got you</em></td>

					</tr>
					<tr>
						<td></td>
						<td>
							<button type="button" (click)="getQuote()">
								Click me
							</button>
							<span class="example-spacer"></span>
							<span class="example-spacer"></span>
							<span class="example-spacer icon1">
								<mat-icon class="icon" matSuffix>sentiment_very_satisfied</mat-icon>
								<mat-icon class="icon" matSuffix>sentiment_very_satisfied</mat-icon>
								<mat-icon class="icon" matSuffix>sentiment_very_satisfied</mat-icon>
							</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div *ngFor="let quote of randomData" style="text-align:center">
								<h6>Author: {{ quote.author }}</h6>
								<p>{{ quote.text }}</p>
							</div>
						</td>

					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
<!-- <mat-card-content>
				<button type="submit" (click)="randomImage()">
					Search Image
				</button>
				
				<img src="{{ images }}">
			</mat-card-content> -->

<!-- <mat-card-content>
	<button type="submit" (click)="show = !show">
		Search Image
	</button>

	<img *ngIf="show" src="{{ images }}">
	
</mat-card-content> -->