<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>

    <h1>This is just a sample html page</h1>

    <h2>Below are the details that were passed to the html page</h2>

    <p th:text="${'Name: ' + name}">Hello</p>

    <p><b>Thank you for your feedback! :)</b></p>
    <p><b>Cheers, The MoodBoard Team</b></p>

</body>

</html>