<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>

    <h1 style="color:rgb(107, 92, 241);font-family:courier;">We appreciate your valuable feedback</h1>

    <!-- <h2>Below are the details that were passed to the html page</h2> -->

    <p><h4 style="color:Tomato;" th:text="${'Hello ' + name + '!'}"></h4></p>

    <p><b>Thank you for your feedback! :)</b></p>
    <p><i>Cheers,</i></p>
    <p><i>The MoodBoard Team</i></p>

</body>

</html>